body {
  margin:0;
  padding: 0;
  background-image:url("../images/a.jpg");
  font-family:cursive;
}
.search {
    float: right;
    display: block;
}

.avatar {
  float: right;
  display: block;
}
.avatar img {
  width: 90px;
  height: 30px;
  margin-right: 30px;
  margin-top: 0;
  margin-bottom: 0;
}
.avatar img:hover {
    background-color: LawnGreen;
}

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    background-color:white;
    padding: 10px 10px 10px 10px;
    margin-top: 8px;
    margin-right: 30px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
    width: 300px;
}

.header {
  overflow: hidden;
  background-color: Teal;
  width: 100%;
  position: fixed;
  top: 0;
  height: 50px;
}
.header a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.header img {
  width: 90px;
  height: 25px;
}
.header a:hover{
  background-color: LawnGreen;
}
.navbar {
  width: 50%;;
  height: 750px;
  float: left;
  margin-top: 80px;
  margin-left: 100px;
  margin-bottom: 40px;
  background-color: white;
}
.navbar-content, .aside-content {
  max-width: 100%;
  height: 20%;
  border-bottom: 1px groove;
  padding: 10px;
}
.aside-content {
  border-bottom: 1px groove;
  height: 10%;
  padding: 5px;
}
.navbar-cover-content {
  float: left;
  margin-top: 15px;
  margin-left: 15px;
  width: 25%;
  height: 120px;
}

.navbar-info-content {
  float: right;
  width: 65%;
  margin-right: 10px;
}
.navbar-info-content h3 {
  font-size: 20px;
}

.navbar-summary-content {
  margin: auto;
}
.navbar-head {
  width: 99.5%;
  color: white;
  text-align: left;
  background-image: url("../images/new.jpg");
  padding: 2px;
}
img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 20%;
}

.aside {
  width: 28%;
  height: 750px;
  float:right;
  margin-top: 80px;
  margin-right: 170px;
  background: DarkSlateGray;
  color: white;
}
.aside-cover {
  float: left;
  width: 20%;
  margin: auto;
  padding: 8px;
}
.aside-cover img {
  border-radius: 0;
}
.aside-info {
  float: right;
  width: 75%;
  margin: auto;
}
.aside-head {
  width: 99%;
  background-image: url("../images/populer.jpg");
  color: white;
  text-align: left;
  padding: 2px;
}
.footer {
  border-top: 3px solid red;
  width: 98.5%;
  float: left;
  background-color: Teal;
  color: PaleGoldenRod;
  padding: 10px;
  text-align: center;
}
.footer-logo {
  float: left;
  border-right: 1px groove;
  width: 20%;
}
.footer-content {
  float: right;
  width: 60%;
  text-align: left;
}
.footer-sosmed {
  float: right;
  margin-right: 20px;
}
